@model Point_of_Sale.Models.tbl_Item
@{
    ViewData["Title"] = "Inventory";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="padding-top: 60px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Inventory</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Inventory</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <div class="card card-secondary">
                <div class="card-header">
                    <h3 class="card-title"><i class="fa fa-check-square-o pr-2"></i>Inventory Details</h3>
                </div>
                <div class="card-body">

                    <div class="row pl-2">
                        <button type="button" class="btn btn-success" id="btn_print"><i class="fa fa-print mr-2"></i>Print</button>
                    </div>

                    <div class="row pb-3 pt-3">
                        <div class="col-md-12">
                            <div class="dataTables_wrapper table-responsive dt-bootstrap4">
                                <table id="tbl_items" class="table table-bordered table-hover text-center table-sm" style="width:100%"></table>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="card-footer">
                </div>
            </div>

        </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
    <div id="modal_receipt" class="modal fade" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm pt-5">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal_name"><i class="fa fa-file-pdf-o pr-2"></i>Receipt</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <form id="form_cart" novalidate="novalidate">

                    <div class="modal-body">

                        <iframe src="" id="frame_receipt" width="100%" height="550px"></iframe>

                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success float-right"><i class="fa fa-print pr-2"></i>Print</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<!-- /.content-wrapper -->
@section Scripts
    {
    <script>
        $(document).ready(function () {
            var Id = 0;
            var date = GetDateNowMMDDYYYY();
            console.log(date);

            LoadItems();
            function LoadItems() {
                $('#tbl_items').DataTable({
                    destroy: true,
                    responsive: true,
                    processing: false,
                    search: true,
                    stateSave: true,
                    info: true,
                    searching: true,
                    paging: true,
                    //order: [[1, "asc"], [2, "asc"]],
                    //lengthMenu: [[5, 10, 20, -1], [5, 10, 20, "All"]],
                    ajax: {
                        "url": "../Inventory/LoadItems",
                        "type": "POST",
                        "datatype": "JSON",
                    },
                    columns:
                        [
                            { "data": "id", title: "", visible: false },
                            { "data": "description", title: "Description", sClass: "text-center", orderable: false },
                            { "data": "brand", title: "Brand", sClass: "text-center", orderable: false },
                            { "data": "supplier", title: "Supplier", sClass: "text-center", orderable: false },
                            {
                                "data": "quantity", title: "Quantity", sClass: 'text-center', "render": function (data) {
                                    if (data <= 10) {
                                        return '<div class="text-danger">' + data + '</div>';
                                    }
                                    else {
                                        return '<div>' + data + '</div>';
                                    }
                                }
                            },
                            { "data": "dateAdded", title: "Date Added", sClass: "text-center", orderable: false },
                            {
                                "data": "dateExpired", title: "Expiration Date", sClass: 'text-center', "render": function (data) {
                                    var date1 = new Date(data);
                                    var date2 = new Date(date);
                                    if (date1 <= date2) {
                                        return '<div class="text-danger">' + data + '</div>';
                                    }
                                    else {
                                        return '<div>' + data + '</div>';
                                    }
                                }
                            },
                        ]
                });

                $('#tbl_items tbody').off().on('click', 'tr', function (e) {
                    e.preventDefault();
                    if (!$(this).hasClass("dtactive")) {
                        $(this).parent().find("tr").removeClass("dtactive");
                        $(this).addClass("dtactive");
                        Id = SelectedValue("tbl_items", "id");
                        $("[name='Id']").val(Id);
                    } else {
                        $(this).removeClass("dtactive");
                    }
                });
            }

        });

        $("#btn_print").click(function (e) {
            e.preventDefault();
            var url = "../Reports/PreviewReceipt?&InvoiceId=1060";
            ViewReport(url, "#frame_receipt", "#modal_receipt");
        });
   

        ActiveMenu("#inventory");

    </script>
}

