html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.text-blink {
    animation: blinker 2s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.label-control {
    font-weight: 400 !important;
    margin-bottom: 0px !important;
}

.dtactive {
    background-color: #1c1c1c !important;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 250px;
        margin: 1.75rem auto;
    }
}

.modal-xsm {
    max-width: 250px;
}

.modal-sm {
    max-width: 470px;
}

.modal-md {
    max-width: 820px;
}

.modal-ms {
    max-width: 858px;
}

.modal-lg {
    max-width: 1140px;
}
